<template name="burger">

    <div class="rc-old-burger burger" style="border:1px solid lightgray;">

        <a id="burger-icon" class="btn btn-white icon burger-arrow-alignment">


            <!--Right Icon-->
            <svg width="1em" style="color:gray" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right ">
                <g>
                    <polyline points="9 18 15 12 9 6"></polyline>
                </g>
            </svg>

        </a>


        {{#unless embeddedVersion}}
        {{#if unread}}

        <span class="unread-badges">{{unread}}</span>
        {{/if}}
        {{/unless}}
    </div>
</template>