.rc-old-burger {
	min-height: 43px;
	padding-top: 4px;

	text-align: center;

	color: gray;
	border: 1px solid lightgray;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #ffffff;

	font-size: 26px;
}

.rc-old-burger:hover {
	background-color: #f9fbfd;
}

.unread-badges {
	position: absolute;
	z-index: 3;
	top: -6px;
	left: 17px;

	min-width: 18px;
	min-height: 18px;
	padding: 0 4px;

	cursor: pointer;
	text-align: center;

	color: white;
	border-radius: 9px;
	background-color: #e1364c;

	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
}
