/* ------Close Icon------- */
.vc-close-button {
	position: absolute;
	top: 12px;
	right: 20px;

	overflow: visible;

	margin-top: 0;
	margin-bottom: 1.125rem;

	padding: 0.475rem 0.85rem 0.475rem 0.85rem;

	cursor: pointer;
	letter-spacing: -0.02em;
	text-transform: none;

	color: #ffffff;
	border-color: #e63757;
	border-radius: 0.5rem !important;
	background-color: #e63757;

	font-size: 1.0625rem;
	font-weight: 600;
	line-height: 1.1;
}

/* ------Custom Chat Icon---- */
.vc-chat-button {
	position: absolute;
	top: 19px;
	right: 126px;

	cursor: pointer;
}