/*------Close Icon-------*/
.vc-close-button {
    cursor: pointer;
    letter-spacing: -.02em;
    border-radius: 0.5rem !important;
    padding-top: 0.475rem !important;
    padding-bottom: 0.475rem !important;
    padding-right: 0.85rem !important;
    padding-left: 0.85rem !important;
    color: #fff;
    background-color: #e63757;
    border-color: #e63757;
    font-size: 1.0625rem;
    margin-top: 0;
    margin-bottom: 1.125rem;
    line-height: 1.1;
    text-transform: none;
    overflow: visible;
    font-weight: 600;
    position: absolute;
    right: 20px;
    top: 12px;
}

/*------Custom Chat Icon----*/
.vc-chat-button {
    cursor: pointer;
    position: absolute;
    right: 126px;
    top: 19px;
}